* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --inter: 'inter', sans-serif, arial;
    --text-color: black;
    
    --bg-url: url(./assets/bg-desktop-light.jpg);
    --icon: url(./assets/sun.svg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
}

html {
    font-size: 14px;

}

.black{
    --text-color: white;
    
    --bg-url: url(./assets/bg-desktop.jpg);
    --icon: url(./assets/moon-stars.svg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    
}

body {
    background: var(--bg-url) no-repeat center center;
    font-family: var(--inter);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2rem;
}

figure {
    text-align: center;
}

figure img {
    width: 120px;
}

section#links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}


section#links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 90%;

    border: 2px solid var(--stroke-color);
    border-radius: 8px;
    font-size: 1.2rem;

    background-color: var(--surface-color);
    color: var(--text-color);
}

section#links a:hover{
    background-color: var(--surface-color-hover);
    transition: 0.5s;
}

#media svg path{
    fill: var(--text-color);
}
/* CHHECKBOX */
#mode{
    position: relative;
}


#mode button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0px;
    background:  white var(--icon) no-repeat center;
    position:absolute;
    z-index: 1;
    top: -4px;
    left: 0px;

    animation: slid-back 0.4s forwards;
}
#mode button:hover{
    outline: 8px solid var(--highlight-color);
    transition: 0.2s ease-in-out;
}
#mode span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    z-index: 0;
}

footer a:hover{
    text-decoration: underline;
}

#media a svg path:hover {
    outline: 10px solid var(--highlight-color);
    border-radius: 100%;

}
.black #mode button{
    left: initial;
    right: 0px;
    animation: slid-in 0.4s forwards;
}

@media (min-width: 350px) {
    :root{
        --bg-url: url(./assets/bg-mobile-light.jpg);
    }
    .black{
        --bg-url: url(./assets/bg-mobile.jpg);
    }
    body {
        background: var(--bg-url) no-repeat center;
        background-size: cover;
    }

    main {
        max-width: 600px;
    }

}

@keyframes slid-in {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slid-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}